<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://kit.fontawesome.com/dd817ce703.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Vaishnavi Associates</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <nav class="navbar">
        <a href="#" class="navbar-logo navbar-a" style="text-decoration:none;"
          ><i class="material-icons">Vaishnavi</i> Associates</a
        >
        <ul class="navbar-links">
          <li class="navbar-dropdown">
            <a href="index.html" class="navbar-a"><i class="fa-solid fa-house"></i> Home</a>
          </li>
          <li class="navbar-dropdown">
            <a href="#" class="navbar-a">Loans <i class="fa-solid fa-caret-down"></i></a>
            <div class="dropdown">
              <a href="personalloans.html" class="navbar-a">Personal Loans</a>
              <a href="businessloans.html" class="navbar-a">Business Loans</a>
              <a href="homeloans.html" class="navbar-a">Home Loans</a>
              <a href="laploans.html" class="navbar-a">LAP Loans</a>
              <a href="carloans.html" class="navbar-a">Car Loans</a>
              <a href="eduloans.html" class="navbar-a">Education Loans</a>
            </div>
          </li>
          <li class="navbar-dropdown">
            
            <a href="#" class="navbar-a"><i class="fa-solid fa-location-dot"></i> Hyderabad</a>
          </li>
          <li class="navbar-dropdown">
            <a href="#" class="navbar-a"><i class="fa-solid fa-address-card"></i> Our Contact</a>
            <div class="dropdown2">
              <ul>
                <li>Address: <p style="font-weight: 500; margin-left:1rem">#618, 6th Floor,chenoy Trade Centre, Paradise, Secunderabad.- 500003</p> </li>
                <li>Contact: 09676789539</li>
                <li>Mon - Sat (10 AM - 6 PM)</li>
                <li>Email: <a style="color: #169BD7;cursor:pointer;" href = "mailto:termloans@yahoo.in">termloans@yahoo.in </a></li>
              </ul>
                
            </div>
          </li>
        </ul>
      </nav>
    <div class="body3">
        <br>
        <br>
        <img src="images/eduloan.avif" alt="Educataion Loan" style="width: 50%; margin-left: 14rem;">
        <br>
        <br>
        <br>
        <br>
        <h1>Education Loans Online Overview</h1>
        <p>Education is a fundamental thing that instills empowerment in the students. The cost of education skyrockets every day, so the students are seeking loans to complete their education. With the motive to educate every student, the government has given a whirl and come up with schemes by offering them Education Loans. The government and the banks have also drafted effective strategies to help the students complete their education without hassle. The meritorious students or the students who are willing to go for higher studies but don’t have enough money to do so are granted education loans to pursue the education either in India or abroad.</p>
        <p>Almost all kinds of banks offer financial aid to students in the name of Student Loans. Students can cover all the expenses from education to fees to tuition to supplies to living expenses with the help of the education loan offered by banks. The differentiator between general loans and student loans is the low-interest rate. Because students cannot afford to pay more interest, the banks go with low-interest schemes and also give them a grace period of six months to one year to start repaying the loan after getting into a job. In short, the repayment policies are very flexible for the students.</p>
        <br>
        <h3>Educataion Loan Online Eligibility</h3>
        <p>The primary factor the banks consider while granting Education Loans India is eligibility. Here are the eligibility criteria students need to meet before considering getting an education loan from the bank.</p>
        <ul>
            <li>The student should be an Indian National.</li>
            <li>The student should have secured a seat in a recognized institution in India or abroad.</li>
            <li>The age of the student must be between 18 to 35 years.</li>
            <li>The student must be pursuing a graduation/post-graduation degree.</li>
        </ul>
        <br>
        <h3>Documents required for an Education Loan Online</h3>
        <p>Here are some of the documents that are required to apply for Education Loans.</p>
        <ul>
            <li>Two passport-size photographs</li>
            <li>Aadhaar Card and Pan Card of the Student and Parent/ Guardian</li>
            <li>Age proof</li>
            <li>Copy of Aadhaar Card /Voter ID/Passport/Driving License</li>
            <li>The hard copy of the 10th and 12th exam mark sheets</li>
            <li>Course expense statement</li>
            <li>Identity proof like Voter ID/Aadhaar Card/Driving Licence/Passport</li>
            <li>Residence proof like Copy of Ration card/Gas Book/Electricity Bill/Tel Bill</li>
            <li>Income proof such as Form 16 of the parent/ guardian/co-borrower</li>
            <li>Six months bank statements of the borrower or updated passbook of bank</li>
            <li>Updated ITR of 2 years</li>
            <li>Property documents in case of providing collateral</li>
        </ul>
        <br>
        <h3>Types of Education Loans in India</h3>
        <p>Now let us look into the types of Education Loans offered by the banks in India. First and foremost, the loans vary depending on the type of education the student wants to pursue. For instance, Students Loans are granted to students willing to do their diploma, certification courses, or study abroad.</p>
        <p>If we divide the loans based on the location, there are majorly two types of education loans:</p>
        <ul>
            <li>Domestic Education Loan</li>
            <li>Study Abroad Education Loan</li>
        </ul>
        <br>
        <h3>Domestic Education Loan</h3>
        <p>As the name implies, Domestic Education Loan is given to students that want to pursue their education in the country.</p>
        <br>
        <h3>Study Abroad Education Loan</h3>
        <p>Study Abroad Education Loan is a loan given to students who want to pursue their education abroad.</p>
        <p>Again the Education Loans in India are categorized into multiple categories:</p>
        <br>
        <h3>Undergraduate Education Loans</h3>
        <p>Students who have completed their secondary education with merit marks are eligible to attain undergraduate student loans to pursue undergraduate in any university</p>
        <br>
        <h3>Graduate Education Loans</h3>
        <p>As the name says, students willing to pursue graduation or post-graduation can apply for these graduate education loans.</p>
        <br>
        <h3>Career Education Loan</h3>
        <p>This is a lesser-known loan taken by students who wish to invest in career-related programs in named institutes.</p>
        <p>Other than these popular types of loans, parents are also provided with student loans to cover the expenses of their child’s education.</p>



    </div>
</body>
<footer class="footer bg-danger" style="background: #f4f7f8!important;">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 mt-4 col-lg-6 text-center text-sm-start">
                <div class="information">
                    <h4 class="footer-heading  text-white fw-bold" style="color: #169BD7!important; font-weight: bold;">Offering</h4>
                    <ul class="list-unstyled footer-link mt-4">
                        <li class="mb-1"><a href="personalloans.html" class="text-decoration-none  anchor-tags" style="font-weight: 400!important;">Personal Loans</a></li>
                        <li class="mb-1"><a href="businessloans.html" class="text-decoration-none anchor-tags" style="font-weight: 400!important;">Business Loans</a></li>
                        <li class="mb-1"><a href="homeloans.html" class="text-decoration-none anchor-tags" style="font-weight: 400!important;">Home Loans</a></li>
                        <li class="mb-1"><a href="laploans.html" class="text-decoration-none anchor-tags" style="font-weight: 400!important;">LAP Loans</a></li>
                        <li class="mb-1"><a href="carloans.html" class="text-decoration-none anchor-tags" style="font-weight: 400!important;">Car Loans</a></li>
                        <li class="mb-1"><a href="eduloans.html" class="text-decoration-none anchor-tags" style="font-weight: 400!important;">Education Loans</a></li>
                    </ul>
                </div>
            </div>
          
           
            <div class="col-sm-6 col-md-6 mt-4 col-lg-6 text-center text-sm-start">
              <div class="contact">
                  <h4 class="footer-heading text-white fw-bold" style="color: #169BD7!important; font-weight: bold;">Contact Us</h4>
                  <address class="mt-4 m-0 text-white mb-1" style="color: black!important;"><i class="bi bi-pin-map fw-semibold "></i> #618, 6th Floor,chenoy Trade Centre,<br> Paradise, Secunderabad.- 500003</address>
                  <a href="tel:+" class="text-white mb-1 text-decoration-none d-block fw-semibold " style="color: black!important;"><i class="bi bi-telephone"></i>09676789539</a>
                  <a class="text-white text-decoration-none fw-semibold" style="color: black!important;"> Mon - Sat (10 AM - 6 PM)</a>
                  <a href="mailto:termloans@yahoo.in" class="text-white mb-1 text-decoration-none d-block fw-semibold " style="color: black!important;"><i class="bi bi-envelope"></i> termloans@yahoo.in</a>
              </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="text-center mt-4 p-1">
        <p class="mb-0 fw-bold">2024 © All Rights Reserved | Vaishnavi Associates</p>
    </div>
  </footer>
  <script>
    window.addEventListener('contextmenu',(e)=>e.preventDefault());
  </script>
</html>