<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://kit.fontawesome.com/dd817ce703.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Vaishnavi Associates</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <nav class="navbar">
        <a href="#" class="navbar-logo navbar-a" style="text-decoration:none;"
          ><i class="material-icons">Vaishnavi</i> Associates</a
        >
        <ul class="navbar-links">
          <li class="navbar-dropdown">
            <a href="index.html" class="navbar-a"><i class="fa-solid fa-house"></i> Home</a>
          </li>
          <li class="navbar-dropdown">
            <a href="#" class="navbar-a">Loans <i class="fa-solid fa-caret-down"></i></a>
            <div class="dropdown">
              <a href="personalloans.html" class="navbar-a">Personal Loans</a>
              <a href="businessloans.html" class="navbar-a">Business Loans</a>
              <a href="homeloans.html" class="navbar-a">Home Loans</a>
              <a href="laploans.html" class="navbar-a">LAP Loans</a>
              <a href="carloans.html" class="navbar-a">Car Loans</a>
              <a href="eduloans.html" class="navbar-a">Education Loans</a>
            </div>
          </li>
          <li class="navbar-dropdown">
            
            <a href="#" class="navbar-a"><i class="fa-solid fa-location-dot"></i> Hyderabad</a>
          </li>
          <li class="navbar-dropdown">
            <a href="#" class="navbar-a"><i class="fa-solid fa-address-card"></i> Our Contact</a>
            <div class="dropdown2">
              <ul>
                <li>Address: <p style="font-weight: 500; margin-left:1rem">#618, 6th Floor,chenoy Trade Centre, Paradise, Secunderabad.- 500003</p> </li>
                <li>Contact: 09676789539</li>
                <li>Mon - Sat (10 AM - 6 PM)</li>
                <li>Email: <a style="color: #169BD7;cursor:pointer;" href = "mailto:termloans@yahoo.in">termloans@yahoo.in </a></li>
              </ul>
                
            </div>
          </li>
        </ul>
      </nav>
      
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/freelancing1.jpg" class="d-block w-100" alt="..." style="width: 750px; height: 600px">
            </div>
            <div class="carousel-item">
              <img src="images/freelancing2.jpg" class="d-block w-100" alt="..." style="width: 750px; height: 600px">
            </div>
            <div class="carousel-item">
              <img src="images/freelancing3.jpg" class="d-block w-100" alt="..." style="width: 750px; height: 600px">
            </div>
            <div class="carousel-item">
              <img src="images/freelancing4.jpg" class="d-block w-100" alt="..." style="width: 750px; height: 600px">
            </div>
            <div class="carousel-item">
              <img src="images/freelancing5.png" class="d-block w-100" alt="..." style="width: 750px; height: 600px">
            </div>
            <div class="carousel-item">
              <img src="images/freelancing6.jpg" class="d-block w-100" alt="..." style="width: 750px; height: 600px">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <hr style="border-top: 3px solid #169BD7;" />
        <div class="body2">
          <h3 class="special_headings">Services</h3>
          <br>
          <h2 class="what_we_do">What we do</h2>
          <br>
          <h5>Welcome to our associate website, where financial solutions meet your diverse needs. We specialize in offering loans across six distinct categories, ensuring that you have access to the right financial support when you need it most.</h5>
          
          <h5> Your financial journey begins here, where opportunities meet affordability.</h5>
          <br>
          <h2 class="what_we_do">Financial services we provide</h2>
          <br>
          <div>
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="images/Personal loan.svg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Personal Loan</h5>
                  <div class="card-text-text2">
                    <p class="card-text">A personal loan in India is the best financing choice to meet a variety of your purposes. Apply for private loans online, and you'll be able to use the cash to acquire al ...</p>      
                     <!-- Button trigger modal -->
                    <button type="button"  onclick="readMore(this)"  class="btn card-text2 text-muted" data-toggle="modal" data-target="#exampleModal1">Read More</button>
                    <!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: left;">
        A personal loan in India is the best financing choice to meet a variety of your purposes. Apply for private loans online, and you'll be able to use the cash to acquire al l of your expenses. Upon applying online at our website an assistant will contact you to help you with the loan requirements.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn card-text2 text-muted" data-dismiss="modal" style="text-align: center;">Read Less</button>
      </div>
    </div>
  </div>
</div>

             
                  </div>
                  
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" style="padding-left: 3px;" src="images/Business Loan_1.svg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Business Loan</h5>
                  <div class="card-text-text2">
                    <p class="card-text">We understand that every business has unique financial needs. We take great pride and satisfaction in ensuring that business owners and entrepreneurs meet ...</p>
                    <!-- Button trigger modal -->
                    <button type="button"  onclick="readMore(this)"  class="btn card-text2 text-muted" data-toggle="modal" data-target="#exampleModal2">Read More</button>
                    <!-- Modal -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: left;">
        We understand that every business has unique financial needs. We take great pride and satisfaction in ensuring that business owners and entrepreneurs meet their business goals by offering simple possible financial solutions. Expand your existing business, increase production, take your business operations online, equip new machinery, and much more.The shortage of money through business finance enables you to create necessary purchases and payments on time helps you with a smooth business functioning. Any business owner can contact us at and we can assist you to avail of a business loan for your business purposes.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn card-text2 text-muted" data-dismiss="modal" style="text-align: center;">Read Less</button>
      </div>
    </div>
  </div>
</div>
                  </div>
                  
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="images/Home Loan.svg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Home Loan</h5>
                  <div class="card-text-text2">
                    <p class="card-text">A home loan is one of the best essential financial products, buying a house for the primary time is one among the largest joys of life it's not only a special place for ...</p>
                    <!-- Button trigger modal -->
                    <button type="button"  onclick="readMore(this)"  class="btn card-text2 text-muted" data-toggle="modal" data-target="#exampleModal3">Read More</button>
                    <!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: left;">
        A home loan is one of the best essential financial products, buying a house for the primary time is one among the largest joys of life it's not only a special place for your loved ones and you but also becomes an asset which you'll be able to bequeath to your children owning a house offer stability and confidence.You will even be about to purchase an extra house as an investment. In both cases, you're likely to use for a loan we are committed to helping you fulfill your dream of owning a brand new house. You can always contact us from the following URL and provide your details, and our home loan department team will be taking care of your loan process.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn card-text2 text-muted" data-dismiss="modal" style="text-align: center;">Read Less</button>
      </div>
    </div>
  </div>
</div>
                  </div>
                  
                </div>
              </div>
            </div>
    
            <br>
    
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="images/LAP LOANS.svg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">LAP Loan</h5>
                  <div class="card-text-text2">
                    <p class="card-text">Get a loan against property (LAP) from LMV Finance for your personal or business requirements at low-interest rates. Both residential and commercial properties could be ...</p>
                    <!-- Button trigger modal -->
                    <button type="button"  onclick="readMore(this)"  class="btn card-text2 text-muted" data-toggle="modal" data-target="#exampleModal4">Read More</button>
                    <!-- Modal -->
<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: left;">
        Get a loan against property (LAP) from LMV Finance for your personal or business requirements at low-interest rates. Both residential and commercial properties could be mortgaged to get a loan against the property. LMV financial services help to get loans to either professional and as well as self-employed individuals. We offer quick hassle-free loans over the property. The loan against property offered by LMV Financial services is a simple solution to your financial need.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn card-text2 text-muted" data-dismiss="modal" style="text-align: center;">Read Less</button>
      </div>
    </div>
  </div>
</div>
                  </div>
                  
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="images/Car Loan.svg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Car Loan</h5>
                  <div class="card-text-text2">
                    <p class="card-text">Owning a car before was a dream, but now it is not a dream anymore, now our car loans make your dreams come true. Enjoy trips and vacations and build beautiful memories ...</p>
                    <!-- Button trigger modal -->
                    <button type="button"  onclick="readMore(this)"  class="btn card-text2 text-muted" data-toggle="modal" data-target="#exampleModal5">Read More</button>
                    <!-- Modal -->
<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: left;">
        Owning a car before was a dream, but now it is not a dream anymore, now our car loans make your dreams come true. Enjoy trips and vacations and build beautiful memories with your family in your car. With car loans with LMV financial services, you can get benefits like quick processing, minimal documentation, and speedy fund disbursal.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn card-text2 text-muted" data-dismiss="modal" style="text-align: center;">Read Less</button>
      </div>
    </div>
  </div>
</div>
                  </div>
                  
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" style="padding-left: 3px;" src="images/Education Loan.svg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Education Loan</h5>
                  <div class="card-text-text2">
                    <p class="card-text">A student loan is a loan that is designed to help students pay for their education and the associated fees, such as tuition, books and supplies, and living ...</p>
                    <!-- Button trigger modal -->
                    <button type="button"  onclick="readMore(this)"  class="btn card-text2 text-muted" data-toggle="modal" data-target="#exampleModal6">Read More</button>
                    <!-- Modal -->
<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: left;">
        A student loan is a loan that is designed to help students pay for their education and the associated fees, such as tuition, books and supplies, and living expenses. The interest rates for Student Loans are substantially low compared to other loans where student can repay the loan after he is into a JOB. We will provide student loans for those who wish to pursue higher education abroad.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn card-text2 text-muted" data-dismiss="modal" style="text-align: center;">Read Less</button>
      </div>
    </div>
  </div>
</div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <br>
          <div>
            <h4 style="font-weight: 600;">Our Partners</h4>
            <br>
          <img src="images/partners.png" alt="Our Partners" style="width: 100%;"/>
          </div>

















        </div>
</body>

<footer class="footer bg-danger" style="background: #f4f7f8!important;">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-4 mt-4 col-lg-6 text-center text-sm-start">
              <div class="information">
                  <h4 class="footer-heading  text-white fw-bold" style="color: #169BD7!important; font-weight: bold;">Offering</h4>
                  <ul class="list-unstyled footer-link mt-4">
                      <li class="mb-1"><a href="personalloans.html" class="text-decoration-none  anchor-tags" style="font-weight: 400!important;">Personal Loans</a></li>
                      <li class="mb-1"><a href="businessloans.html" class="text-decoration-none anchor-tags" style="font-weight: 400!important;">Business Loans</a></li>
                      <li class="mb-1"><a href="homeloans.html" class="text-decoration-none anchor-tags" style="font-weight: 400!important;">Home Loans</a></li>
                      <li class="mb-1"><a href="laploans.html" class="text-decoration-none anchor-tags" style="font-weight: 400!important;">LAP Loans</a></li>
                      <li class="mb-1"><a href="carloans.html" class="text-decoration-none anchor-tags" style="font-weight: 400!important;">Car Loans</a></li>
                      <li class="mb-1"><a href="eduloans.html" class="text-decoration-none anchor-tags" style="font-weight: 400!important;">Education Loans</a></li>
                  </ul>
              </div>
          </div>
        
         
          <div class="col-sm-6 col-md-6 mt-4 col-lg-6 text-center text-sm-start">
            <div class="contact">
                <h4 class="footer-heading text-white fw-bold" style="color: #169BD7!important; font-weight: bold;">Contact Us</h4>
                <address class="mt-4 m-0 text-white mb-1" style="color: black!important;"><i class="bi bi-pin-map fw-semibold "></i> #618, 6th Floor,chenoy Trade Centre,<br> Paradise, Secunderabad.- 500003</address>
                <a href="tel:+" class="text-white mb-1 text-decoration-none d-block fw-semibold " style="color: black!important;"><i class="bi bi-telephone"></i>09676789539</a>
                <a class="text-white text-decoration-none fw-semibold" style="color: black!important;"> Mon - Sat (10 AM - 6 PM)</a>
                <a href="mailto:termloans@yahoo.in" class="text-white mb-1 text-decoration-none d-block fw-semibold " style="color: black!important;"><i class="bi bi-envelope"></i> termloans@yahoo.in</a>
            </div>
          </div>
      </div>
  </div>
  <hr>
  <div class="text-center mt-4 p-1">
      <p class="mb-0 fw-bold">2024 © All Rights Reserved | Vaishnavi Associates</p>
  </div>
</footer>

<script>
  window.addEventListener('contextmenu',(e)=>e.preventDefault());
</script>

</html>